/*Global*/

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #333;
    line-height: 140%;
}


/*Sidebar*/

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    /*pour modifier la couleur des icones et du text de la sidebar*/
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    /*pour modifier le background des items de la sidebar*/
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

@font-face {
    font-family: 'Libertas';
    src: url(../font/PAC\ LIBERTAS\ font.ttf);
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
}

.navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
}

.navbar:hover {
    width: 30rem;
}

.navbar:hover .link-text {
    display: inline;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.border {
    border-block-color: white;
    border-block-style: solid;
    border-block-width: 0.01px;
}

.title {
    display: flex;
    align-items: center;
    height: 5rem;
    color: white;
    background-color: black;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1rem;
}

.item2 {
    font-size: 30px;
}

.icon3 {
    margin: 0 1.7rem;
    font-size: 40px;
    font-family: 'Roman';
}

.icon2 {
    margin: 0 1.3rem;
    font-size: 40px;
    font-family: 'Roman';
}

.icon1 {
    margin: 0 1.4rem;
    font-size: 40px;
    font-family: 'Roman';
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
    color: white;
}

.lien {
    display: none;
}

.navbar-nav:hover .lien {
    display: inline-block;
}


/*Animation sidebar*/

.dropdown-container .dropdown_item-1 {
    transform-origin: top center;
    animation: translateX 300ms 0ms ease-in-out forwards;
}

.dropdown-container .dropdown_item-2 {
    transform-origin: top center;
    animation: translateX 300ms 60ms ease-in-out forwards;
}

.dropdown-container .dropdown_item-3 {
    transform-origin: top center;
    animation: translateX 300ms 120ms ease-in-out forwards;
}

@-moz-keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@-webkit-keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@-o-keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


/*Contenu*/

.contenu {
    display: block;
    background-image: url(https://iphonesoft.fr/images/_052019/wallpaper-fond-ecran-wave-2-iphone-xs-max-iphone-xr.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin-left: 5rem;
    top: 2%;
}

.titleImage {
    background-image: url(../image/eye-691269.jpg);
    background-size: cover;
    display: block;
    color: white;
    padding: 10px;
    padding-top: 15%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    background-color: teal;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.toblackBg {
    display: block;
    width: max-content;
    color: white;
    margin: 10px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.151);
}

.toWhiteBg {
    display: block;
    color: black;
    width: max-content;
    margin: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.151);
}


/*Sommaire*/

.indexImage {
    background-image: url(../image/indexImage.png);
    padding-bottom: 17%;
}


/*Ai-je une dischromatopsie*/

.thinkbackground {
    background-image: url(../image/think.png);
}

.smalltext2 {
    display: block;
    margin: 10px;
    padding: 10px;
    background: rgba(224, 101, 101, 0.8);
}

.imgblock {
    display: inline-block;
    margin: 10px;
    width: 280px;
    padding: 10px;
    background: rgba(224, 101, 101, 0.8);
}

.underlineText {
    text-decoration: underline;
}

.GlobalBox {
    display: block;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.603);
}


/*Qu'est ce que c'est ?*/

#boite {
    width: 100%;
    height: 100%;
    color: black;
    background-image: url(https://i.gifer.com/JQiB.gif);
    background-size: cover;
    padding-top: 1em;
    padding-bottom: 1em;
}

.miniboite {
    padding: 1em;
    margin: 1em;
    text-align: left;
    line-height: 200%;
    word-break: break-word;
    background-color: #ffffffc5;
    font-size: larger;
}

.zlatanImg {
    background-image: url(../image/zlatan.jpg);
}


/*Decouverte*/

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 3em;
    background-color: transparent;
}

.flex-container .box {
    width: 75%;
    margin: 10px;
    padding: 1em;
    text-align: left;
    line-height: 2em;
    word-break: break-word;
    background-color: #ffffffda;
    font-size: medium;
}

.box2 {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.BackgroundD {
    background-image: url("../image/fondD.jpeg");
    background-size: 100% 100%;
}


/*Vivre avec une dyschromatopsie*/

.pompierImg {
    background-image: url(../image/pompier\ triste.png);
}

.textzone {
    display: inline-block;
    height: 500px;
    background: rgba(224, 101, 101, 0.8);
}

.minitextzone {
    background: rgba(224, 101, 101, 0.8);
    margin: 10px;
    padding: 10px;
}

.textUndertitle {
    display: block;
    background: rgba(255, 255, 255, 0.514);
    padding: 1em;
    text-align: center;
    font-weight: normal;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
    line-height: 2em;
    font-size: xx-large;
}

#conteneur {
    display: flex;
}