
body {
  margin: 0;
  padding: 40px 0 0 0;
  font-family: sans-serif;
  color: #333;
  line-height: 140%;
}




/*sidebar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #13042c;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

li {
    margin-left: 5%;
    color: white;
    
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    width: 85%;
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li a.active {
    margin-top: 10px;
    background-color: #1c8520;
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    padding: 8px 16px;
    width: 85%;
    margin-left: 5px;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.GrossCategorie {
    display: block;
    background: #4CAF50;
    color: white;
    margin: 10px;
    width: 85%;
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
}

a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }

.dropdown-container {
    display: none;
    padding-left: 8px;
    color: white;
  }  
  .dropdown-btn{
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 85%;
    margin-left: 5%;
  }

.dropdown-container .dropdown_item-1 {
    transform-origin: top center;
    animation: translateX 300ms 60ms ease-in-out forwards;
}
.dropdown-container .dropdown_item-2 {
    transform-origin: top center;
    animation: translateX 300ms 120ms ease-in-out forwards;
}
.dropdown-container .dropdown_item-3 {
    transform-origin: top center;
    animation: translateX 300ms 180ms ease-in-out forwards;
}
.dropdown_menu-5 .dropdown_item-4 {
    transform-origin: top center;
    animation: translateX 300ms 240ms ease-in-out forwards;
}
.dropdown_menu-5 .dropdown_item-5 {
    transform-origin: top center;
    animation: translateX 300ms 300ms ease-in-out forwards;
}

  /* outil dropdown */
  @-moz-keyframes translateX {
    0% {
      opacity: 0;
      transform: translateX(60px);
    }
    80% {
      transform: translateX(-5px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @-webkit-keyframes translateX {
    0% {
      opacity: 0;
      transform: translateX(60px);
    }
    80% {
      transform: translateX(-5px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @-o-keyframes translateX {
    0% {
      opacity: 0;
      transform: translateX(60px);
    }
    80% {
      transform: translateX(-5px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes translateX {
    0% {
      opacity: 0;
      transform: translateX(60px);
    }
    80% {
      transform: translateX(-5px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }



/* Css pour le contenu */

.contenu {
    display: block;
    height: 100%;
    width: 75%;
    float: right;
    top: auto;
    background-color: rgba(161, 239, 253, 0);
}


.titleImage {
    background-image: url(/image/oeil.jpg);
    background-size: cover;
    display: block;
    color: white;
    padding: 10px;
    padding-top: 15%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    background-color: teal;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Css pour Aije une dischromatopsie */

.thinkbackground{
  background-image: url(/image/think.png);
}

.smalltext2 {
  display: block;
  margin: 10px;
  padding: 10px;
  background: rgba(224, 101, 101, 0.8);
}

.imgblock {
    display: inline-block;
    margin: 10px;
    width: 280px;
    padding: 10px;
    background: rgba(224, 101, 101, 0.8);
}


/* Css pour le site Ques que cest ? */

.boite {
    padding: 3%;
    display: block;
    background-image: url(/image/colore.jpg);
    background-size: cover;
}

.miniboite {
    text-align: left;
    line-height: 75px;
    font-size: 50px;
    margin: 2%;
    word-break: break-word;
    background-color: #ffffffc5;
    font-size: medium;
    line-height: 200%;
}

.zlatanImg{
  background-image: url(/image/zlatan.jpg);
}


/* contenu pour le site Decouverte */

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
}

.flex-container .box {
    width: 75%;
    margin: 10px;
    text-align: left;
    line-height: 75px;
    font-size: 30px;
    word-break: break-word;
    background-color: #ffffffda;
    font-size: medium;
    line-height: 200%;
}

.box2 {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.BackgroundD {
    background-image: url("/image/fondD.jpeg");
    background-size: 100% 100%;
}

/*Css pour le site Vivre avec une dyschromatopsie */

.pompierImg{
  background-image: url(/image/pompier\ triste.png);
}

.textzone {
    display: inline-block;
    height: 500px;
    background: rgba(224, 101, 101, 0.8);
}
.minitextzone{
    background: rgba(224, 101, 101, 0.8);
    margin: 10px;
    padding: 10px;
}


/* button en dessous*/

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

[class^="hvr-"] {
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p,
[class^="hvr-"] {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #2098D1;
    text-decoration: none;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
